# {{ ansible_managed }}
# SANs cover every address a client or peer may use: private IP (transport),
# public IP/DNS (operator access) and localhost (on-box checks).
instances:
{% for host in es_nodes %}
  - name: {{ host }}
    dns:
      - {{ host }}
      - localhost
      - {{ hostvars[host].public_dns }}
    ip:
      - {{ hostvars[host].private_ip }}
      - {{ hostvars[host].public_ip }}
      - 127.0.0.1
{% endfor %}
