# {{ ansible_managed }}
# SANs cover every address a client or peer may use: private IP and DNS
# (transport, tunnelled clients) and localhost (on-box checks, port forwards).
instances:
{% for host in es_nodes %}
  - name: {{ host }}
    dns:
      - {{ host }}
      - localhost
      - {{ hostvars[host].private_dns }}
    ip:
      - {{ hostvars[host].private_ip }}
      - 127.0.0.1
{% endfor %}
